@model Recipe

<link rel="stylesheet" href="~/css/styles.css" />
<section class="nutrition-facts">
    <header class="nutrition-facts__header">
        <h1 class="nutrition-facts__title">@Model.Name</h1>
        <h2 class="nutrition-facts__subtitle">Nutrition Facts</h2>
    </header>
    <table class="nutrition-facts__table">
        <thead>
            <tr>
                <th colspan="3" class="small-info">
                    <b>Total Grams</b><br>
                    <span class="value">@Model.CalculateGrams.ToString("0.00")</span> g
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">
                    <b>Calories</b><br>
                    <span class="value">@Model.CalculateCalories.ToString("0.00")</span> kcal
                </td>
            </tr>
            <tr class="thick-row">
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="3">
                    <b>Fat</b><br>
                    <span class="value">@Model.CalculateFats.ToString("0.00")</span> g
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <b>Carbohydrate</b><br>
                    <span class="value">@Model.CalculateCarbs.ToString("0.00")</span> g
                </td>
            </tr>
            <tr class="thick-end">
                <td colspan="3">
                    <b>Protein</b><br>
                    <span class="value">@Model.CalculateProtein.ToString("0.00")</span> g
                </td>
            </tr>
        </tbody>

    </table>
</section>
