@model DiaryViewModel

<table class="table table-bordered">
    <thead>
        <tr class ="total-row">
            <th scope="col"><bold>Food/Recipe Name</bold></th>
            <th scope="col">Grams</th>
            <th scope="col">Calories</th>
            <th scope="col">Protein</th>
            <th scope="col">Carbs</th>
            <th scope="col">Fats</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    @foreach (var entry in Model.DiaryEntries)
    {
        <tr>
            @if (entry.FoodId != null)
            {
                <td>@entry.Food.Name</td>
            }
            @if (entry.RecipeId != null)
            {
                <td>@entry.Recipe.Name</td>
            }
            <td>@entry.Quantity</td>
            <td>@entry.Calories.ToString("0.00") kcal</td>
            <td>@entry.Protein.ToString("0.00") g</td>
            <td>@entry.Carbs.ToString("0.00") g</td>
            <td>@entry.Fats.ToString("0.00") g</td>
            <td>
                <div class="button-group">
                    <a href="@Url.Action("Edit", "DiaryEntry", new { id = entry.Id })" class="btn btn-primary btn-sm">Edit</a>
                    <form asp-controller="DiaryEntry" asp-action="Delete" asp-route-id="@entry.Id" onsubmit="return confirm('Are you sure you want to delete this entry?')">
                        <input type="hidden" name="selectedDate" value="@Model.SelectedDate">
                        <button type="submit" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i> Delete</button>
                    </form>
                </div>
            </td>
        </tr>
    }
    <tr class="total-row">
        <td colspan="1"><strong>Total Nutrition for the Day</strong></td>
        <td></td>
        <td><strong>@Model.TotalCalories.ToString("0.00") kcal</strong></td>
        <td><strong>@Model.TotalProtein.ToString("0.00") g</strong></td>
        <td><strong>@Model.TotalCarbs.ToString("0.00") g</strong></td>
        <td><strong>@Model.TotalFats.ToString("0.00") g</strong></td>
        <td></td>
    </tr>
</table>
<style>
    .button-group {
        display: flex;
        gap: 8px;
    }

    .total-row {
        background-color: #f3f3f3;
    }

        .total-row strong {
            font-weight: bold;
            color: #333;
            font-size: 1.1rem;
        }
</style>